body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 2%;
  font-size: 16px;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 1.166;
  font-size: 18px;
  letter-spacing: 3%;
}
.logo .logo-part {
  color: #4d5ae5;
}
ul {
  list-style-type: none;
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}
.address-link {
  text-decoration: none;
  color: inherit;
}
.address-link:hover,
.address-link:focus {
  text-decoration: none;
  color: #404bbf;
}

.headline-section {
  background-color: #2e2f42;
}
.headline-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 071;
  text-align: center;
}
.headline-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 4%;
  cursor: pointer;
  text-align: center;
}
.headline-button:hover,
.headline-button:focus {
  background-color: #404bbf;
}
h2 {
  color: #2e2f42;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.111;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-section {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
  text-align: center;
}
.portfolio-card {
  border-width: 1px, 1px, 1px, 1px;
  border-color: #e7e9fc;
}
.footer-section {
  background-color: #2e2f42;
}
.footer-logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 1.166;
  font-size: 18px;
  letter-spacing: 3%;
}
.footer-logo .footer-logo-part {
  color: #4d5ae5;
}
.footer-text {
  color: #f4f4fd;
}
